
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<ul>
    <li>Id: @ViewBag.Datos.Id</li>
    <li>Titulo: @ViewBag.Datos.Titulo</li>
    <li>Fecha de Publicacion: @ViewBag.Datos.FechaPublicacion</li>
</ul>