@model IEnumerable<website.Models.BookModel>


@{
    ViewBag.Title = "Index";
}

<h2>Index Crud</h2>

<ul>
    @foreach (var item in Model)
    {
        <li><a href="/Book/Detalle/@item.Id">@item.Titulo</a></li>
        
        <li>@Html.ActionLink(
            linkText: (string)item.Titulo, 
            actionName: "Detalle", 
            controllerName: "Book", 
            routeValues: new { id = item.Id.ToString()},
            htmlAttributes: null
            )</li>
    }
    
</ul>